registry=https://registry.npmjs.com/
//registry.npmjs.org/:_authToken={{ env "NPM_TOKEN" }}
//registry.npmjs.com/:_authToken={{ env "NPM_TOKEN" }}
//npm.pkg.github.com/:_authToken={{ env "GH_TOKEN" }}
