{
  "Profiles" : [
    {
      "Use Separate Colors for Light and Dark Mode" : false,
      "Rewritable" : false,
      "Name" : "local",
      "Guid" : "randy.tarampi-default-profile-v1",
      "Custom Command" : true,
      "Command" : "{{ output "command" "-v" "tmux" | trim }} -CC new -A -s main"
    }
  ]
}
