{
  "Profiles" : [
    {
      "ASCII Anti Aliased" : true,
      "ASCII Ligatures" : true,
      "AWDS Pane Directory" : "",
      "AWDS Pane Option" : "Recycle",
      "AWDS Tab Directory" : "",
      "AWDS Tab Option" : "Recycle",
      "AWDS Window Directory" : "",
      "AWDS Window Option" : "No",
      "Allow Title Reporting" : true,
      "Ambiguous Double Width" : false,
      "Animate Movement" : true,
      "Ansi 0 Color" : {
        "Blue Component" : 0.0,
        "Green Component" : 0.0,
        "Red Component" : 0.0
      },
      "Ansi 0 Color (Dark)" : {
        "Blue Component" : 0.0,
        "Green Component" : 0.0,
        "Red Component" : 0.0
      },
      "Ansi 0 Color (Light)" : {
        "Blue Component" : 0.0,
        "Green Component" : 0.0,
        "Red Component" : 0.0
      },
      "Ansi 1 Color" : {
        "Blue Component" : 0.0,
        "Green Component" : 0.0,
        "Red Component" : 0.7333333492279053
      },
      "Ansi 1 Color (Dark)" : {
        "Blue Component" : 0.0,
        "Green Component" : 0.0,
        "Red Component" : 0.7333333492279053
      },
      "Ansi 1 Color (Light)" : {
        "Blue Component" : 0.0,
        "Green Component" : 0.0,
        "Red Component" : 0.7333333492279053
      },
      "Ansi 10 Color" : {
        "Blue Component" : 0.3333333432674408,
        "Green Component" : 1.0,
        "Red Component" : 0.3333333432674408
      },
      "Ansi 10 Color (Dark)" : {
        "Blue Component" : 0.3333333432674408,
        "Green Component" : 1.0,
        "Red Component" : 0.3333333432674408
      },
      "Ansi 10 Color (Light)" : {
        "Blue Component" : 0.3333333432674408,
        "Green Component" : 1.0,
        "Red Component" : 0.3333333432674408
      },
      "Ansi 11 Color" : {
        "Blue Component" : 0.3333333432674408,
        "Green Component" : 1.0,
        "Red Component" : 1.0
      },
      "Ansi 11 Color (Dark)" : {
        "Blue Component" : 0.3333333432674408,
        "Green Component" : 1.0,
        "Red Component" : 1.0
      },
      "Ansi 11 Color (Light)" : {
        "Blue Component" : 0.3333333432674408,
        "Green Component" : 1.0,
        "Red Component" : 1.0
      },
      "Ansi 12 Color" : {
        "Blue Component" : 1.0,
        "Green Component" : 0.3333333432674408,
        "Red Component" : 0.3333333432674408
      },
      "Ansi 12 Color (Dark)" : {
        "Blue Component" : 1.0,
        "Green Component" : 0.3333333432674408,
        "Red Component" : 0.3333333432674408
      },
      "Ansi 12 Color (Light)" : {
        "Blue Component" : 1.0,
        "Green Component" : 0.3333333432674408,
        "Red Component" : 0.3333333432674408
      },
      "Ansi 13 Color" : {
        "Blue Component" : 1.0,
        "Green Component" : 0.3333333432674408,
        "Red Component" : 1.0
      },
      "Ansi 13 Color (Dark)" : {
        "Blue Component" : 1.0,
        "Green Component" : 0.3333333432674408,
        "Red Component" : 1.0
      },
      "Ansi 13 Color (Light)" : {
        "Blue Component" : 1.0,
        "Green Component" : 0.3333333432674408,
        "Red Component" : 1.0
      },
      "Ansi 14 Color" : {
        "Blue Component" : 1.0,
        "Green Component" : 1.0,
        "Red Component" : 0.3333333432674408
      },
      "Ansi 14 Color (Dark)" : {
        "Blue Component" : 1.0,
        "Green Component" : 1.0,
        "Red Component" : 0.3333333432674408
      },
      "Ansi 14 Color (Light)" : {
        "Blue Component" : 1.0,
        "Green Component" : 1.0,
        "Red Component" : 0.3333333432674408
      },
      "Ansi 15 Color" : {
        "Blue Component" : 1.0,
        "Green Component" : 1.0,
        "Red Component" : 1.0
      },
      "Ansi 15 Color (Dark)" : {
        "Blue Component" : 1.0,
        "Green Component" : 1.0,
        "Red Component" : 1.0
      },
      "Ansi 15 Color (Light)" : {
        "Blue Component" : 1.0,
        "Green Component" : 1.0,
        "Red Component" : 1.0
      },
      "Ansi 2 Color" : {
        "Blue Component" : 0.0,
        "Green Component" : 0.7333333492279053,
        "Red Component" : 0.0
      },
      "Ansi 2 Color (Dark)" : {
        "Blue Component" : 0.0,
        "Green Component" : 0.7333333492279053,
        "Red Component" : 0.0
      },
      "Ansi 2 Color (Light)" : {
        "Blue Component" : 0.0,
        "Green Component" : 0.7333333492279053,
        "Red Component" : 0.0
      },
      "Ansi 3 Color" : {
        "Blue Component" : 0.0,
        "Green Component" : 0.7333333492279053,
        "Red Component" : 0.7333333492279053
      },
      "Ansi 3 Color (Dark)" : {
        "Blue Component" : 0.0,
        "Green Component" : 0.7333333492279053,
        "Red Component" : 0.7333333492279053
      },
      "Ansi 3 Color (Light)" : {
        "Blue Component" : 0.0,
        "Green Component" : 0.7333333492279053,
        "Red Component" : 0.7333333492279053
      },
      "Ansi 4 Color" : {
        "Blue Component" : 0.7333333492279053,
        "Green Component" : 0.0,
        "Red Component" : 0.0
      },
      "Ansi 4 Color (Dark)" : {
        "Blue Component" : 0.7333333492279053,
        "Green Component" : 0.0,
        "Red Component" : 0.0
      },
      "Ansi 4 Color (Light)" : {
        "Blue Component" : 0.7333333492279053,
        "Green Component" : 0.0,
        "Red Component" : 0.0
      },
      "Ansi 5 Color" : {
        "Blue Component" : 0.7333333492279053,
        "Green Component" : 0.0,
        "Red Component" : 0.7333333492279053
      },
      "Ansi 5 Color (Dark)" : {
        "Blue Component" : 0.7333333492279053,
        "Green Component" : 0.0,
        "Red Component" : 0.7333333492279053
      },
      "Ansi 5 Color (Light)" : {
        "Blue Component" : 0.7333333492279053,
        "Green Component" : 0.0,
        "Red Component" : 0.7333333492279053
      },
      "Ansi 6 Color" : {
        "Blue Component" : 0.7333333492279053,
        "Green Component" : 0.7333333492279053,
        "Red Component" : 0.0
      },
      "Ansi 6 Color (Dark)" : {
        "Blue Component" : 0.7333333492279053,
        "Green Component" : 0.7333333492279053,
        "Red Component" : 0.0
      },
      "Ansi 6 Color (Light)" : {
        "Blue Component" : 0.7333333492279053,
        "Green Component" : 0.7333333492279053,
        "Red Component" : 0.0
      },
      "Ansi 7 Color" : {
        "Blue Component" : 0.7333333492279053,
        "Green Component" : 0.7333333492279053,
        "Red Component" : 0.7333333492279053
      },
      "Ansi 7 Color (Dark)" : {
        "Blue Component" : 0.7333333492279053,
        "Green Component" : 0.7333333492279053,
        "Red Component" : 0.7333333492279053
      },
      "Ansi 7 Color (Light)" : {
        "Blue Component" : 0.7333333492279053,
        "Green Component" : 0.7333333492279053,
        "Red Component" : 0.7333333492279053
      },
      "Ansi 8 Color" : {
        "Blue Component" : 0.3333333432674408,
        "Green Component" : 0.3333333432674408,
        "Red Component" : 0.3333333432674408
      },
      "Ansi 8 Color (Dark)" : {
        "Blue Component" : 0.3333333432674408,
        "Green Component" : 0.3333333432674408,
        "Red Component" : 0.3333333432674408
      },
      "Ansi 8 Color (Light)" : {
        "Blue Component" : 0.3333333432674408,
        "Green Component" : 0.3333333432674408,
        "Red Component" : 0.3333333432674408
      },
      "Ansi 9 Color" : {
        "Blue Component" : 0.3333333432674408,
        "Green Component" : 0.3333333432674408,
        "Red Component" : 1.0
      },
      "Ansi 9 Color (Dark)" : {
        "Blue Component" : 0.3333333432674408,
        "Green Component" : 0.3333333432674408,
        "Red Component" : 1.0
      },
      "Ansi 9 Color (Light)" : {
        "Blue Component" : 0.3333333432674408,
        "Green Component" : 0.3333333432674408,
        "Red Component" : 1.0
      },
      "Automatically Log" : false,
      "BM Growl" : true,
      "Background Color" : {
        "Blue Component" : 0.0,
        "Green Component" : 0.0,
        "Red Component" : 0.0
      },
      "Background Color (Dark)" : {
        "Blue Component" : 0.0,
        "Green Component" : 0.0,
        "Red Component" : 0.0
      },
      "Background Color (Light)" : {
        "Blue Component" : 0.0,
        "Green Component" : 0.0,
        "Red Component" : 0.0
      },
      "Background Image Is Tiled" : false,
      "Background Image Location" : "",
      "Badge Color" : {
        "Alpha Component" : 0.5,
        "Blue Component" : 0.13960540294647217,
        "Color Space" : "P3",
        "Green Component" : 0.25479039549827576,
        "Red Component" : 0.9292940497398376
      },
      "Badge Color (Dark)" : {
        "Alpha Component" : 0.5,
        "Blue Component" : 0.13960540294647217,
        "Color Space" : "P3",
        "Green Component" : 0.25479039549827576,
        "Red Component" : 0.9292940497398376
      },
      "Badge Color (Light)" : {
        "Alpha Component" : 0.5,
        "Blue Component" : 0.13960540294647217,
        "Color Space" : "P3",
        "Green Component" : 0.25479039549827576,
        "Red Component" : 0.9292940497398376
      },
      "Blend" : 0.30000001192092896,
      "Blink Allowed" : true,
      "Blinking Cursor" : true,
      "Blur" : false,
      "Blur Radius" : 0.1,
      "Bold Color" : {
        "Blue Component" : 1.0,
        "Green Component" : 1.0,
        "Red Component" : 1.0
      },
      "Bold Color (Dark)" : {
        "Blue Component" : 1.0,
        "Green Component" : 1.0,
        "Red Component" : 1.0
      },
      "Bold Color (Light)" : {
        "Blue Component" : 1.0,
        "Green Component" : 1.0,
        "Red Component" : 1.0
      },
      "Brighten Bold Text (Dark)" : true,
      "Brighten Bold Text (Light)" : true,
      "Character Encoding" : 4,
      "Close Sessions On End" : true,
      "Columns" : 120,
      "Command" : "{{ output "which" "tmux" | trim }} -CC new -A -s main",
      "Cursor Boost (Dark)" : 0.0,
      "Cursor Boost (Light)" : 0.0,
      "Cursor Color" : {
        "Blue Component" : 0.7333333492279053,
        "Green Component" : 0.7333333492279053,
        "Red Component" : 0.7333333492279053
      },
      "Cursor Color (Dark)" : {
        "Blue Component" : 0.7333333492279053,
        "Green Component" : 0.7333333492279053,
        "Red Component" : 0.7333333492279053
      },
      "Cursor Color (Light)" : {
        "Blue Component" : 0.7333333492279053,
        "Green Component" : 0.7333333492279053,
        "Red Component" : 0.7333333492279053
      },
      "Cursor Guide Color" : {
        "Alpha Component" : 0.25,
        "Blue Component" : 0.9912572503089905,
        "Color Space" : "P3",
        "Green Component" : 0.9204778671264648,
        "Red Component" : 0.7486259341239929
      },
      "Cursor Guide Color (Dark)" : {
        "Alpha Component" : 0.25,
        "Blue Component" : 0.9912572503089905,
        "Color Space" : "P3",
        "Green Component" : 0.9204778671264648,
        "Red Component" : 0.7486259341239929
      },
      "Cursor Guide Color (Light)" : {
        "Alpha Component" : 0.25,
        "Blue Component" : 0.9912572503089905,
        "Color Space" : "P3",
        "Green Component" : 0.9204778671264648,
        "Red Component" : 0.7486259341239929
      },
      "Cursor Text Color" : {
        "Blue Component" : 1.0,
        "Green Component" : 1.0,
        "Red Component" : 1.0
      },
      "Cursor Text Color (Dark)" : {
        "Blue Component" : 1.0,
        "Green Component" : 1.0,
        "Red Component" : 1.0
      },
      "Cursor Text Color (Light)" : {
        "Blue Component" : 1.0,
        "Green Component" : 1.0,
        "Red Component" : 1.0
      },
      "Cursor Type" : 2,
      "Custom Command" : "Yes",
      "Custom Directory" : "Recycle",
      "Default Bookmark" : "No",
      "Description" : "Default",
      "Disable Printing" : false,
      "Disable Smcup Rmcup" : false,
      "Disable Window Resizing" : true,
      "Draw Powerline Glyphs" : true,
      "Dynamic Profile Filename" : "",
      "Faint Text Alpha (Dark)" : 0.5,
      "Faint Text Alpha (Light)" : 0.5,
      "Flashing Bell" : false,
      "Foreground Color" : {
        "Blue Component" : 0.7333333492279053,
        "Green Component" : 0.7333333492279053,
        "Red Component" : 0.7333333492279053
      },
      "Foreground Color (Dark)" : {
        "Blue Component" : 0.7333333492279053,
        "Green Component" : 0.7333333492279053,
        "Red Component" : 0.7333333492279053
      },
      "Foreground Color (Light)" : {
        "Blue Component" : 0.7333333492279053,
        "Green Component" : 0.7333333492279053,
        "Red Component" : 0.7333333492279053
      },
      "Guid" : "dotfiles-default-profile-v1",
      "Has Hotkey" : false,
      "Hide After Opening" : false,
      "Horizontal Spacing" : 1.0,
      "HotKey Activated By Modifier" : false,
      "HotKey Alternate Shortcuts" : [],
      "HotKey Characters" : "",
      "HotKey Characters Ignoring Modifiers" : "",
      "HotKey Key Code" : 0,
      "HotKey Modifier Activation" : 0,
      "HotKey Modifier Flags" : 0,
      "HotKey Window Animates" : true,
      "HotKey Window AutoHides" : true,
      "HotKey Window Dock Click Action" : 0,
      "HotKey Window Floats" : true,
      "HotKey Window Reopens On Activation" : false,
      "Icon" : 1,
      "Idle Code" : 0,
      "Initial Text" : "",
      "Jobs to Ignore" : [
        "rlogin",
        "ssh",
        "slogin",
        "telnet"
      ],
      "Keyboard Map" : {},
      "Link Color" : {
        "Alpha Component" : 1.0,
        "Blue Component" : 0.7093239426612854,
        "Color Space" : "P3",
        "Green Component" : 0.35333043336868286,
        "Red Component" : 0.14513972401618958
      },
      "Link Color (Dark)" : {
        "Alpha Component" : 1.0,
        "Blue Component" : 0.7093239426612854,
        "Color Space" : "P3",
        "Green Component" : 0.35333043336868286,
        "Red Component" : 0.14513972401618958
      },
      "Link Color (Light)" : {
        "Alpha Component" : 1.0,
        "Blue Component" : 0.7093239426612854,
        "Color Space" : "P3",
        "Green Component" : 0.35333043336868286,
        "Red Component" : 0.14513972401618958
      },
      "Load Shell Integration Automatically" : true,
      "Log Directory" : "",
      "Match Background Color" : {
        "Alpha Component" : 1.0,
        "Blue Component" : 0.32116127014160156,
        "Color Space" : "P3",
        "Green Component" : 0.9860088229179382,
        "Red Component" : 0.9969714283943176
      },
      "Match Background Color (Dark)" : {
        "Alpha Component" : 1.0,
        "Blue Component" : 0.32116127014160156,
        "Color Space" : "P3",
        "Green Component" : 0.9860088229179382,
        "Red Component" : 0.9969714283943176
      },
      "Match Background Color (Light)" : {
        "Alpha Component" : 1.0,
        "Blue Component" : 0.32116127014160156,
        "Color Space" : "P3",
        "Green Component" : 0.9860088229179382,
        "Red Component" : 0.9969714283943176
      },
      "Minimum Contrast" : 0.0,
      "Minimum Contrast (Dark)" : 0.0,
      "Minimum Contrast (Light)" : 0.0,
      "Mouse Reporting" : true,
      "Name" : "local",
      "Non Ascii Font" : "Monaco 12",
      "Non-ASCII Anti Aliased" : true,
      "Non-ASCII Ligatures" : true,
      "Normal Font" : "LigaMesloLGMDZ-Regular 12",
      "Only The Default BG Color Uses Transparency" : false,
      "Option Key Sends" : 2,
      "Prompt Before Closing 2" : false,
      "Reduce Flicker" : false,
      "Rewritable" : true,
      "Right Option Key Sends" : 0,
      "Rows" : 80,
      "Screen" : 0,
      "Scrollback Lines" : 0,
      "Scrollback With Status Bar" : false,
      "Scrollback in Alternate Screen" : true,
      "Selected Text Color" : {
        "Blue Component" : 0.0,
        "Green Component" : 0.0,
        "Red Component" : 0.0
      },
      "Selected Text Color (Dark)" : {
        "Blue Component" : 0.0,
        "Green Component" : 0.0,
        "Red Component" : 0.0
      },
      "Selected Text Color (Light)" : {
        "Blue Component" : 0.0,
        "Green Component" : 0.0,
        "Red Component" : 0.0
      },
      "Selection Color" : {
        "Blue Component" : 1.0,
        "Green Component" : 0.8353000283241272,
        "Red Component" : 0.7098000049591064
      },
      "Selection Color (Dark)" : {
        "Blue Component" : 1.0,
        "Green Component" : 0.8353000283241272,
        "Red Component" : 0.7098000049591064
      },
      "Selection Color (Light)" : {
        "Blue Component" : 1.0,
        "Green Component" : 0.8353000283241272,
        "Red Component" : 0.7098000049591064
      },
      "Semantic History" : {
        "action" : "best editor",
        "editor" : "com.sublimetext.4",
        "text" : ""
      },
      "Send Code When Idle" : false,
      "Set Local Environment Vars" : true,
      "Shortcut" : "",
      "Show Status Bar" : false,
      "Silence Bell" : false,
      "Smart Cursor Color" : true,
      "Smart Cursor Color (Dark)" : false,
      "Smart Cursor Color (Light)" : false,
      "Smart Selection Rules" : [
        {
          "notes" : "Word bounded by whitespace",
          "precision" : "low",
          "regex" : "\\S+"
        },
        {
          "notes" : "C++ namespace::identifier",
          "precision" : "normal",
          "regex" : "([a-zA-Z0-9_]+::)+[a-zA-Z0-9_]+"
        },
        {
          "notes" : "Paths",
          "precision" : "normal",
          "regex" : "\\~?/?([[:letter:][:number:]._-]+/+)+[[:letter:][:number:]._-]+/?"
        },
        {
          "notes" : "Quoted string",
          "precision" : "normal",
          "regex" : "@?\"(?:[^\"\\\\]|\\\\.)*\""
        },
        {
          "notes" : "Java/Python include paths",
          "precision" : "normal",
          "regex" : "([[:letter:][:number:]._]+\\.)+[[:letter:][:number:]._]+"
        },
        {
          "notes" : "mailto URL",
          "precision" : "normal",
          "regex" : "\\bmailto:([a-z0-9A-Z_]+@)?([a-zA-Z0-9\\-]+\\.)*[a-zA-Z0-9\\-]+\\b"
        },
        {
          "notes" : "Obj-C selector",
          "precision" : "high",
          "regex" : "@selector\\([^)]+\\)"
        },
        {
          "notes" : "email address",
          "precision" : "high",
          "regex" : "\\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}\\b"
        },
        {
          "notes" : "HTTP URL",
          "precision" : "very_high",
          "regex" : "https?://([a-z0-9A-Z]+(:[a-zA-Z0-9]+)?@)?[a-z0-9A-Z]+(\\.[a-z0-9A-Z]+)*((:[0-9]+)?)(/[a-zA-Z0-9;/\\.\\-_+%~?&@=#\\(\\)]*)?"
        },
        {
          "notes" : "SSH URL",
          "precision" : "very_high",
          "regex" : "\\bssh:([a-z0-9A-Z_]+@)?([a-zA-Z0-9\\-]+\\.)*[a-zA-Z0-9\\-]+\\b"
        },
        {
          "notes" : "Telnet URL",
          "precision" : "very_high",
          "regex" : "\\btelnet:([a-z0-9A-Z_]+@)?([a-zA-Z0-9\\-]+\\.)*[a-zA-Z0-9\\-]+\\b"
        }
      ],
      "Space" : -1,
      "Status Bar Layout" : {
        "advanced configuration" : {
          "algorithm" : 0,
          "auto-rainbow style" : 0,
          "font" : ".AppleSystemUIFont 12",
          "remove empty components" : false
        },
        "components" : []
      },
      "Sync Title" : false,
      "Tags" : [
        "local",
        "tmux",
        "Dynamic"
      ],
      "Terminal Type" : "xterm-256color",
      "Title Components" : 3,
      "Transparency" : 0.25,
      "Triggers" : [],
      "Unlimited Scrollback" : true,
      "Use Bold Font" : true,
      "Use Bright Bold" : true,
      "Use Bright Bold (Dark)" : true,
      "Use Bright Bold (Light)" : true,
      "Use Canonical Parser" : true,
      "Use Cursor Guide (Dark)" : false,
      "Use Cursor Guide (Light)" : false,
      "Use HFS Plus Mapping" : true,
      "Use Italic Font" : true,
      "Use Non-ASCII Font" : false,
      "Use Selected Text Color (Dark)" : true,
      "Use Selected Text Color (Light)" : true,
      "Use Separate Colors for Light and Dark Mode" : false,
      "Use Tab Color (Dark)" : false,
      "Use Tab Color (Light)" : false,
      "Use Underline Color (Dark)" : false,
      "Use Underline Color (Light)" : false,
      "Vertical Spacing" : 1.0,
      "Visual Bell" : true,
      "Window Type" : 2,
      "Working Directory" : "{{ .chezmoi.homeDir }}"
    }
  ]
}
