{
  "displayName": "{{ .chezmoi.username }}@{{ .chezmoi.hostname }}",
  "diffOptions": {
    "defaultDiffType": "uncommitted",
    "hideWhitespace": true,
    "diffIndicators": "classic",
    "diffStyle": "unified"
  },
  "conventionalComments": true,
  "pfmReminder": true
}
